{{!-- <h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> --}}

<form method="post" action="/users/login">
  <div id="root">
  <div class="ca-container">
      <img src="../img/fixbit-logo.svg" class="ca-logo" alt="logo" />
      <div class="ca-form">
        <div class="ca-form-header">Username</div>
        <input id="username" class="ca-form-input" type="text" name="username"/>
        <div class="ca-form-header">Password</div>
        <input id="password" class="ca-form-input" type="password" name="password"/>
        <input id="submit" class="ca-form-submit" type="submit" value="Login"/>
      </div>
    </div>
  </div>
</form>