.db-vertical.vertical {
	height: 100%; 
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    /* padding-top: 20vh; */
}

.db-ui.vertical.ui.menu {
	/* background-color: #111; */
	border-radius: 0px;
}

.db-content {
	font-family: 'Open Sans';
	margin-left: 300px;
	min-width: 550px;
	max-width: 1150px;
}

.db-title {
	font-family: 'Open Sans';
	color: rgba(255, 255, 255, 0.8);
	font-weight: 200;
}

.db-profile-icon.ui.medium.image {
	/* background-image: url("./../resources/square-image.png"); */
	/* width: 30vh; */
	max-width: 200px;
}

.db-pushed {
	-webkit-transform: translate3d(300px, 0px, 0px);
	transform: translate3d(300px, 0px, 0px);
}

.db-icon {
	width: 6%;
	margin-left: 1vh;
}

.db-text {
	margin-left: 1vh;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.green {
	background-color: green;
}

.db-sidenav-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1vh;
	color: white;
}

.db-sidenav li:hover {
	color:red;
}

