.sn-vertical.vertical {
	height: 100%; 
    position: fixed;
    /* z-index: 1; */
    overflow-x: hidden;
    /* padding-top: 20vh; */
}

.sn-ui.vertical.ui.menu {
	/* background-color: #111; */
	border-radius: 0px;
}

.sn-profile-icon.ui.medium.image {
	/* background-image: url("./../resources/square-image.png"); */
	/* width: 30vh; */
	max-width: 200px;
}