.ca-container {
	width:					100%;
	min-height:				100vh;
	background-size:		cover;
	background:				linear-gradient(to bottom right, rgba(0, 31, 63, 0.8), rgba(90, 121, 153, 0.8));
	display:				flex;
    align-items:			center;
    justify-content:		center;
    flex-direction:			column;
}

.ca-logo {
	height:					80px;
	/*Orange: #FF0043*/
}