.dark{
    width: 100%;
    
    margin-bottom: 10px; 
    
}

.dark:nth-child(odd){
    background-color: #C8C8C8 ;
    border-bottom: black 2px ;
    border-bottom-style: solid;
    border-top: black 2px ;
    border-top-style: solid;
}
.title{
    color: black;
    font-size: 2em;
}

.spacing{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    
}

.location{
    display: inline-flex;
}