.full-width{
    width: 100%;
    
}

.dark:nth-child(odd){
    background-color: #C8C8C8 ;
    border-bottom: black 2px ;
    border-bottom-style: solid;
    border-top: black 2px ;
    border-top-style: solid;
}
.title{
    color: black;
    font-size: 2em;
}

.spacing{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    
}

.location{
    display: inline-flex;
}

.facility-card {
    padding: 0.75rem 1.25rem;
    margin-bottom: 10px;
    background-color: #9c27b0;
    
    border-radius: 3px;
    color: #FFFFFF;}
    .facility-card > a{
        color: white;
        font-size: 30px;
    }
    .facility-card > a:hover{
        color:white;
        font-size: 30px;
    }

    .facility-card:hover{
        border-color: black;
        
        box-shadow: 5px 5px grey;
    }